/.vs
/DC.UI/node_modules
/DC.Api/appsettings.json
/DC.Domain/bin
/DC.Api/bin
/DC.H5/node_modules
/DC.IService/bin
/DC.Service/bin
/DC.Utils/bin
/DC.UI/dist
/DC.Api/obj
/DC.IService/obj
/DC.Service/obj
/DC.Utils/obj
